dim 50

lambda 1e-3
lambdaL 1e-3
lambdaC 1e-3
dropoutRate 0
normGradThresh 1000000000000

learningRateDecay 0.
paramLearningRate 0.01
wembLearningRate 0.01
classLearningRate 0.01
evalDevStep 1

maxNEpoch 10
batchSize 5
nThreads 1

dataDir ../data/trees/
dicDir ../data/dic/glove-300d-840B/

compositionType LSTM
functionType tanh
